{{#if data.title.show}}
<header>
    <h{{title.level1}}>{{data.name}}</h{{title.level1}}>
</header>
{{/if}}

{{#if linked.document}}

<section class="journal-page-content">
    {{{ enriched.value }}}

    {{> "rotv.journal-table" table=table level=title.level3
        caption=(localize "JOURNALENTRYPAGE.ROTV.Class.TableCaption" class=linked.name) }}

    {{#each features}}
    <h{{ @root.title.level4 }}>{{ this.name }}</h{{ @root.title.level4 }}>
    {{{ this.description }}}
    {{/each}}

    {{#if optionalTable}}
    <h{{ title.level2 }}>{{ localize "JOURNALENTRYPAGE.ROTV.Class.OptionalFeaturesCaption" }}</h{{ title.level2 }}>
    <p>{{ localize "JOURNALENTRYPAGE.ROTV.Class.OptionalFeaturesDescription" class=linked.lowercaseName }}</p>

    {{> "rotv.journal-table" table=optionalTable level=title.level3
        caption=(localize "JOURNALENTRYPAGE.ROTV.Class.TableOptionalCaption" class=linked.name) }}

    {{#each optionalFeatures}}
    <h{{ @root.title.level4 }}>{{ this.name }}</h{{ @root.title.level4 }}>
    {{{ this.description }}}
    {{/each}}
    {{/if}}
</section>

{{else}}
<section>
    {{ localize "JOURNALENTRYPAGE.ROTV.Subclass.NoValidSubclass" }}
</section>
{{/if}}
