<form autocomplete="off" onsubmit="event.preventDefault();">
    {{> "rotv.trait-list" prefix="choices"}}

    {{#if customPath}}
        <div class="form-group stacked">
            <label>{{localize "ROTV.TraitSelectorSpecial"}}</label>
            <div class="form-fields">
                <input type="text" name="{{customPath}}" value="{{custom}}">
            </div>
        </div>
    {{/if}}

    {{#if bypassesPath}}
        <h3>{{localize "ROTV.DamagePhysicalBypass"}}</h3>
        <p class="note">{{localize "ROTV.DamagePhysicalBypassHint"}}</p>
        {{> "rotv.trait-list" choices=bypasses prefix="bypasses"}}
    {{/if}}

    <button type="submit"><i class="far fa-save"></i> {{localize "ROTV.TraitSave"}}</button>
</form>
