<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ROTV.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.consumableTypes system.consumableType }}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'ROTV.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "ROTV.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "ROTV.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "ROTV.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "rotv.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "ROTV.ItemConsumableDetails" }}</h3>

            {{!-- Consumable Type --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemConsumableType" }}</label>
                <select name="system.consumableType">
                    {{selectOptions config.consumableTypes selected=system.consumableType}}
                </select>
            </div>

            <div class="form-group">
                <label>{{localize "ROTV.Attunement"}}</label>
                <select name="system.attunement" data-dtype="Number">
                    {{selectOptions config.attunements selected=system.attunement}}
                </select>
            </div>

            <div class="form-group stacked">
                <label>{{ localize "ROTV.ItemConsumableStatus" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "ROTV.Equipped" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "ROTV.Identified" }}
                </label>
            </div>

            <h3 class="form-header">{{ localize "ROTV.ItemConsumableUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "rotv.item-activation"}}
            {{#if system.activation.type}}
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" name="system.uses.autoDestroy" {{checked system.uses.autoDestroy}}/> {{ localize "ROTV.ItemDestroyEmpty" }}
                </label>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "ROTV.ItemConsumableActivation" }}</h3>

            {{!-- Item Action Template --}}
            {{> "rotv.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "rotv.active-effects"}}
        </div>
    </section>
</form>
