<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ROTV.ItemName' }}">
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <label class="equipped">
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}>
                    {{#if system.equipped}}
                        {{ localize "ROTV.Equipped" }}
                        {{#if editable}}<i class="fa-solid fa-toggle-on"></i>{{/if}}
                    {{else}}
                        {{ localize "ROTV.Unequipped" }}
                        {{#if editable}}<i class="fa-solid fa-toggle-off"></i>{{/if}}
                    {{/if}}
                </label>
            </div>

            <ul class="summary flexrow">
                <li>{{ system.type.label }}</li>
                <li>
                    {{#if concealDetails}}
                    <span>{{ localize "ROTV.Unidentified.Title" }}</span>
                    {{else}}
                    <select name="system.rarity" {{~#if concealDetails}} inert{{/if}}>
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                    {{/if}}
                </li>
                <li>
                    {{> "rotv.item-source"}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "ROTV.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "ROTV.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "ROTV.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "rotv.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <h3 class="form-header">{{ localize "ROTV.ItemEquipmentDetails" }}</h3>

            {{!-- Equipment Type --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemEquipmentType" }}</label>
                <select name="system.type.value">
                    <option value=""></option>
                    <optgroup label="{{ localize "ROTV.Armor" }}">
                        {{selectOptions config.armorTypes selected=system.type.value}}
                    </optgroup>
                    {{selectOptions config.miscEquipmentTypes selected=system.type.value}}
                </select>
            </div>


            <div class="form-group">
                <label>{{localize "ROTV.Proficiency"}}</label>
                <select name="system.proficient" data-dtype="Number">
                    {{selectOptions config.weaponAndArmorProficiencyLevels selected=system.proficient
                                    blank=(localize "ROTV.Automatic")}}
                </select>
            </div>

            {{!-- Equipment Properties --}}
            <div class="form-group stacked equipment-properties">
                <label>{{ localize "ROTV.ItemEquipmentProperties" }}</label>
                {{#each properties}}
                <label class="checkbox">
                    <input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}>
                    {{ label }}
                </label>
                {{/each}}
            </div>

            {{!-- Armor Class --}}
            {{#if (or system.isArmor system.isMountable)}}
            <div class="form-group">
                <label>{{ localize "ROTV.ArmorClass" }}</label>
                <div class="form-fields">
                    {{ numberInput source.armor.value name="system.armor.value" step="1" }}
                </div>
            </div>

            {{#if properties.mgc.selected}}
            <div class="form-group">
                <label>{{ localize "ROTV.MagicalBonus" }}</label>
                <div class="form-fields">
                    {{ numberInput system.armor.magicalBonus name="system.armor.magicalBonus"
                       min="0" step="1" placeholder="0" }}
                </div>
            </div>
            {{/if}}
            {{/if}}

            {{#if hasDexModifier}}
            {{!-- Dexterity Modifier --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemEquipmentDexMod" }}</label>
                <div class="form-fields">
                    {{numberInput system.armor.dex name="system.armor.dex" placeholder=(localize "ROTV.Unlimited")}}
                </div>
            </div>
            {{/if}}

            {{#if system.isArmor}}
            {{!-- Required Strength --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemRequiredStr" }}</label>
                <div class="form-fields">
                    {{numberInput system.strength name="system.strength" placeholder=(localize "ROTV.None")}}
                </div>
            </div>
            {{/if}}

            {{#if system.isMountable}}
            {{> "rotv.item-mountable"}}
            <div class="form-group">
                <label>{{localize 'ROTV.Speed'}}</label>
                <div class="form-fields">
                    {{numberInput system.speed.value name="system.speed.value" placeholder="0"}}
                    <span class="sep">{{localize 'ROTV.FeetAbbr'}}</span>
                    <input type="text" name="system.speed.conditions"
                           value="{{system.speed.conditions}}">
                </div>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "ROTV.ItemEquipmentUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "rotv.item-activation"}}

            <h3 class="form-header">{{ localize "ROTV.ItemEquipmentAction" }}</h3>

            {{!-- Item Action Template --}}
            {{> "rotv.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "rotv.active-effects"}}
        </div>
    </section>
</form>
