<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ROTV.ItemName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{lookup config.equipmentTypes system.armor.type }}
                </li>
                <li>
                    <select name="system.rarity">
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                </li>
                <li>
                    <input type="text" name="system.source" value="{{system.source}}" placeholder="{{ localize 'ROTV.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "ROTV.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "ROTV.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "ROTV.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "rotv.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "ROTV.ItemEquipmentDetails" }}</h3>

            {{!-- Equipment Type --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemEquipmentType" }}</label>
                <select name="system.armor.type">
                    <option value=""></option>
                    <optgroup label="{{ localize "ROTV.Armor" }}">
                        {{selectOptions config.armorTypes selected=system.armor.type}}
                    </optgroup>
                    {{selectOptions config.miscEquipmentTypes selected=system.armor.type}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "ROTV.ItemEquipmentBase" }}</label>
                <select name="system.baseItem">
                    {{selectOptions baseItems selected=system.baseItem blank=""}}
                </select>
            </div>

            {{#unless isMountable}}

            {{!-- Equipment Status --}}
            <div class="form-group stacked">
                <label>{{ localize "ROTV.ItemEquipmentStatus" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.proficient" {{checked system.proficient}}/> {{ localize "ROTV.Proficient" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}/> {{ localize "ROTV.Equipped" }}
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="system.identified" {{checked system.identified}}/> {{ localize "ROTV.Identified" }}
                </label>
            </div>
            {{/unless}}


            {{!-- Equipment Properties --}}
            <div class="form-group stacked weapon-properties">
                <label>{{ localize "ROTV.ItemEquipmentProperties" }}</label>
                {{#each config.equipmentProperties as |name prop|}}
                    <label class="checkbox">
                        <input type="checkbox" name="data.properties.{{prop}}" {{checked (lookup ../data.properties prop)}}/> {{ name }}
                    </label>
                {{/each}}
            </div>

            {{!-- Armor Class --}}
            {{#if hasAC}}
            <div class="form-group">
                <label>{{ localize "ROTV.ArmorClass" }}</label>
                <div class="form-fields">
                    {{numberInput system.armor.value name="system.armor.value"}}
                </div>
            </div>
            {{/if}}

            {{#if hasDexModifier}}
            {{!-- Dexterity Modifier --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemEquipmentDexMod" }}</label>
                <div class="form-fields">
                    {{numberInput system.armor.dex name="system.armor.dex" placeholder=(localize "ROTV.Unlimited")}}
                </div>
            </div>
            {{/if}}

            {{#if isArmor}}
            {{!-- Required Strength --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemRequiredStr" }}</label>
                <div class="form-fields">
                    {{numberInput system.strength name="system.strength" placeholder=(localize "ROTV.None")}}
                </div>
            </div>

            {{!-- Stealth Disadvantage --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemEquipmentStealthDisav" }}</label>
                <input type="checkbox" name="system.stealth" {{checked system.stealth}}/>
            </div>
            {{/if}}

            {{#if isMountable}}
            {{> "rotv.item-mountable"}}
            <div class="form-group">
                <label>{{localize 'ROTV.Speed'}}</label>
                <div class="form-fields">
                    {{numberInput system.speed.value name="system.speed.value" placeholder="0"}}
                    <span class="sep">{{localize 'ROTV.FeetAbbr'}}</span>
                    <input type="text" name="system.speed.conditions"
                           value="{{system.speed.conditions}}">
                </div>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "ROTV.ItemEquipmentUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "rotv.item-activation"}}

            <h3 class="form-header">{{ localize "ROTV.ItemEquipmentAction" }}</h3>

            {{!-- Item Action Template --}}
            {{> "rotv.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "rotv.active-effects"}}
        </div>
    </section>
</form>
