<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

        <div class="header-details flexrow">
            <h1 class="charname">
                {{#if system.identified}}
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'ROTV.ItemName' }}">
                {{else}}
                <input name="system.unidentified.name" type="text" value="{{system.unidentified.name}}"
                       placeholder="{{ localize 'ROTV.NameUnidentified' }}">
                {{/if}}
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <label class="equipped">
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}>
                    {{#if system.equipped}}
                        {{ localize "ROTV.Equipped" }}
                        {{#if editable}}<i class="fa-solid fa-toggle-on"></i>{{/if}}
                    {{else}}
                        {{ localize "ROTV.Unequipped" }}
                        {{#if editable}}<i class="fa-solid fa-toggle-off"></i>{{/if}}
                    {{/if}}
                </label>
            </div>

            <ul class="summary flexrow">
                <li>{{ system.type.label }}</li>
                <li>
                    {{#if concealDetails}}
                    <span>{{ localize "ROTV.Unidentified.Title" }}</span>
                    {{else}}
                    <select name="system.rarity" {{~#if concealDetails}} inert{{/if}}>
                        {{selectOptions config.itemRarity selected=system.rarity blank=""}}
                    </select>
                    {{/if}}
                </li>
                <li>
                    {{> "rotv.item-source"}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "ROTV.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "ROTV.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "ROTV.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "rotv.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            {{#rotv-concealSection concealDetails}}

            <h3 class="form-header">{{ localize "ROTV.ItemWeaponDetails" }}</h3>

            {{!-- Weapon Type --}}
            <div class="form-group">
                <label>{{ localize "ROTV.ItemWeaponType" }}</label>
                <select name="system.type.value">
                    {{selectOptions config.weaponTypes selected=system.type.value}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "ROTV.ItemWeaponBase" }}</label>
                <select name="system.type.baseItem">
                    {{selectOptions baseItems selected=system.type.baseItem blank=""}}
                </select>
            </div>

            {{#unless system.isMountable}}

            <div class="form-group">
                <label>{{localize "ROTV.Proficiency"}}</label>
                <select name="system.proficient" data-dtype="Number">
                    {{selectOptions config.weaponAndArmorProficiencyLevels selected=system.proficient
                                    blank=(localize "ROTV.Automatic")}}
                </select>
            </div>
            {{/unless}}

            {{!-- Weapon Properties --}}
            <div class="form-group stacked weapon-properties">
                <label>{{ localize "ROTV.ItemWeaponProperties" }}</label>
                {{#each properties}}
                <label class="checkbox">
                    <input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}>
                    {{ label }}
                </label>
                {{/each}}
            </div>

            {{#if system.isMountable}}
            <div class="form-group">
                <label>{{localize 'ROTV.ArmorClass'}}</label>
                <div class="form-fields">
                    {{numberInput system.armor.value name="system.armor.value"}}
                </div>
            </div>

            {{> "rotv.item-mountable"}}
            {{/if}}

            {{#if properties.mgc.selected}}
            <div class="form-group">
                <label>{{ localize "ROTV.MagicalBonus" }}</label>
                <div class="form-fields">
                    {{ numberInput system.magicalBonus name="system.magicalBonus" min="0" step="1" placeholder="0" }}
                </div>
            </div>
            {{/if}}

            <h3 class="form-header">{{ localize "ROTV.ItemWeaponUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "rotv.item-activation"}}

            <h3 class="form-header">{{ localize "ROTV.ItemWeaponAttack" }}</h3>

            {{!-- Item Action Template --}}
            {{> "rotv.item-action"}}

            {{/rotv-concealSection}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "rotv.active-effects"}}
        </div>
    </section>
</form>
